@import url("component/container.css");
@import url("component/avatar.css");
@import url("component/button.css");
@import url("component/banner.css");
@import url("component/card.css");


body{ 
	background-size: auto;
	background-color: #f8efec ;
	color: rgb(34, 20, 66);
	font-family: 'Raleway', sans-serif;
}

 h1{ 
	color: rgb(0, 0, 0);
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 60px
}

h2{
	color: black;
	font-weight: bold;
	font-size: 20px;
}

a{
	text-decoration: none;
	color:  #6B72E1;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 17px;
}

a:hover {
	color: #80ffaa;

}

p {
	color: rgb(30,30,30);
}

/* Custom design with class */

.mycontainer {
	width: 900px;
	margin: 0 auto;
	padding: 40px 0;
}

@media (max-width: 1100px) {
  .mycontainer {
    width: 900px;
  }
}

@media (max-width: 960px) {
  .mycontainer {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .mycontainer {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .mycontainer {
    width: 300px;
  }
}

.contact {
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 20px;
}


.img-circle {
	border-radius: 50%;
}


.list-inline {
	list-style: none;
	padding-left: 0px

}

.list-inline li{
	display: inline;
	padding: 0px;
	margin : 20px;

}

.list-inline i {
	font-size: 50px;
	color: rgb(200, 200, 200)
}

.list-inline i:hover{
	color: black

}


/* Design adjustments using ID */

#introduction p {
	margin-bottom: 40px; 
	margin-top: 30px;
}

#danse p {
	margin-bottom: 40px 
}





.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,.1);
	border-radius: 4px;
	margin: 14px 0px;
	text-align: center;
}


